body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #1e3c72, #0f118a);
}



.container {
    text-align: center;
    color: rgb(255,255,255);
}

#clock {
    font-size: 60px;
    font-weight: bold;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px 40px;
    border-radius: 20px;
}